.width {
    width: 80%;
    margin: 0 auto;
}

.topics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.topic-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}